@media screen and (min-width:500px) and (max-width:800px) {

    /* MOBILE + */

    /* HOME */

    .home-page {
        padding: 0 10px;
        overflow: hidden;

    }

    nav {
        height: 40px;

    }

    .logo img {
        display: none;

    }

    .logo {
        margin-left: 10px;
    }

    .links {
        margin: 10px;

    }

    header {
        padding: 0 10px;
        margin-top: 10px;

    }

    header ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        text-align: center;
        justify-content: center;
        justify-content: space-around;
        gap: 15px;

    }

    .indicator {
        margin-bottom: 20px;
        font-size: 12px;
        width: 100%;

    }

    header ul li a {
        font-size: 13px;

    }

    .main-container h1 {
        font-size: 30px;
        margin: 70px 0 20px;

    }

    .main-container p {
        font-size: 15px;
        margin-bottom: 40px;
        line-height: 26px;

    }

    .main-container .home-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        margin: 20px 0;

    }

    .main-container .home-info .box:nth-child(5)
     {
        display: none;

    }


    .main-container .home-info {
        display: flex;
        justify-content: space-between;
        margin: 70px;
        width: 80%;
    
    }



    .box {
        width: 90px;
        height: 100px;

    }

    .box h2 {
        font-size: 16px;
        font-weight: 500;

    }

    .box h3 {
        font-size: 15px;
        font-weight: 300;

    }

    /* Check Out Page */
    
    .co-container{
        width: 100%;
        height: 100%;
        background-color: #1986a1c6;
        border-radius: 0px;
        display: block;
        
    }
    
    .co-container .co-left{
        border-right: none;
        padding: 5px 50px;
        
    }
    
    .co-container .co-left h2, .co-container .co-right h2{
        font-size: 20px;
        margin-bottom: 5px;
        
    }
    
    .co-container .co-left form input{
        margin-bottom: 10px;
        font-size: 13px;
    
    }
    
    .co-container .co-left form select{
        margin-bottom: 10px;
    
    }
    
    form label{
        font-size: 13px;
    
    }
    
    .co-container .co-right{
        padding: 10px 50px;
    
    }
    
    .co-container .co-right form{
        flex: 1;
        display: flex;
        flex-direction: column;
    
    }
    
    .co-container .co-right form>div{
        display: flex;
        gap: 5px;
    
    }
     
    .co-container .co-right form input{
        width: 100%;
        padding: 3px 8px;
        margin-bottom: 16px;
        border: none;
        outline: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 12px;
    
    }
    
    .co-close i{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 15px;
        cursor: pointer;
        color: #fff;
    
    }
    
    .checkout-page .co-btn{
        margin-top: 5px;
    }

    /* SLIDER */

    .slider {
        height: fit-content;

    }

    .single-car_page {
        flex-direction: column;
        padding: 20px 10px;
        gap: 30px;

    }

    .single-car_page .single-car_page-right h1 {
        font-size: 25px;
        font-weight: 300;

    }

    .single-car_page-right .common-h2 {
        margin: 0;

    }

    .co-btn {
        padding: 6px;
        margin-top: 20px;

    }

    /* GUIDE */

    .guide {
        height: fit-content;
        padding: 10px;

    }

    .g-subheading {
        border-bottom: 1px solid #fff;
        padding: 10px;
        padding-bottom: 3px;

    }

    .guide-step_container {
        flex-direction: column;

    }

    .guide-step_container {
        margin-top: 0px;
        gap: 30px;
        padding: 25px;

    }

    /* ABOUT */

    .about {
        background: none;
        background-color: black;
        height: max-content;
        position: static;
        padding: 10px;

    }

    .about h2 {
        padding-top: 0;
        margin-bottom: 20px;

    }

    .about .about-container {
        position: static;
        flex-direction: column;

    }

    .about-container h3 {
        margin-bottom: 10px;

    }

    .about-container p {
        font-size: 15px;
        margin-top: 0;
        line-height: 17px;

    }

    .a-c-left {
        border-right: none;
        padding: 15px 15px;

    }

    .a-c-right button {
        margin-top: 20px;

    }

    /* FOOTER */

    footer {
        flex-direction: column;
        padding: 20px 10px 10px 10px;

    }

    .f-left {
        width: 100%;
        justify-content: space-between;
        flex: 1;
        align-items: center;
        text-align: center;

    }

    .f-left .f-1 {
        flex: 1;

    }

    .f-left .f-2 {
        flex: 1;

    }

    .f-left .f-3 {
        flex: 1;

    }

    .f-right {
        margin-top: 50px;

    }

    footer h3 {
        font-size: 16px;

    }

    footer p {
        cursor: pointer;
        font-size: 14px;
        opacity: 0.8;
        text-align: center;

    }

}

/* MOBILE SCREEN */

@media screen and (max-width:312px) {

    .main-container .home-info .box:nth-child(3) {
        display: none;

    }

    .main-container .home-info {
        justify-content: center;


    }

}

@media screen and (max-width:500px) {

    /* HOME */

    .home-page {
        padding: 0 10px;
        overflow: hidden;

    }

    nav {
        height: 40px;

    }

    .logo img {
        display: none;

    }

    .logo {
        margin-left: 10px;
    }

    .links {
        display: none;

    }

    header {
        padding: 0 10px;
        margin-top: 10px;

    }

    header ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        text-align: center;
        justify-content: center;
        justify-content: space-around;
        gap: 15px;
    }

    .indicator {
        margin-bottom: 20px;
        font-size: 12px;

        width: 100%;
    }

    header ul li a {
        font-size: 13px;


    }

    .main-container h1 {
        font-size: 30px;
        margin: 70px 0 20px;

    }

    .main-container p {
        font-size: 15px;
        margin-bottom: 40px;
        line-height: 26px;


    }

    .main-container .home-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        margin: 20px 0;

    }

    .main-container .home-info .box:nth-child(2),
    .box:nth-child(5) {
        display: none;

    }



    .box {
        width: 90px;
        height: 100px;


    }

    .box h2 {
        font-size: 16px;
        font-weight: 500;

    }

    .box h3 {
        font-size: 15px;
        font-weight: 300;

    }

    /* SLIDER */

    .slider {
        height: fit-content;

    }

    .single-car_page {
        flex-direction: column;
        padding: 20px 10px;
        gap: 30px;

    }

    .single-car_page .single-car_page-right h1 {
        font-size: 25px;
        font-weight: 300;

    }

    .single-car_page-right .common-h2 {
        margin: 0;

    }

    .co-btn {
        padding: 6px;
        margin-top: 20px;

    }

    /* GUIDE */

    .guide {
        height: fit-content;
        padding: 10px;

    }

    .g-subheading {
        border-bottom: 1px solid #fff;
        padding: 10px;
        padding-bottom: 3px;

    }

    .guide-step_container {
        flex-direction: column;

    }

    .guide-step_container {
        margin-top: 0px;
        gap: 30px;
        padding: 25px;

    }

    /* ABOUT */

    .about {
        background: none;
        background-color: black;
        height: max-content;
        position: static;
        padding: 10px;

    }

    .about h2 {
        padding-top: 0;
        margin-bottom: 20px;

    }

    .about .about-container {
        position: static;
        flex-direction: column;

    }

    .about-container h3 {
        margin-bottom: 10px;

    }

    .about-container p {
        font-size: 15px;
        margin-top: 0;
        line-height: 17px;

    }

    .a-c-left {
        border-right: none;
        padding: 15px 15px;

    }

    .a-c-right button {
        margin-top: 20px;

    }

    /* CONTACT */

    .contact {
        width: 100vw;
        padding: 10px 20px;
        position: relative;

    }



    .contact .contact-form {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;

    }

    .contact .contact-form form textarea {
        height: 30vh;
        margin-bottom: 40px;

    }


    .contact-form form button {
        position: absolute;
        bottom: 0;
        width: 88%;
        left: 0;
        right: 0;
        margin-inline: auto;
        align-items: center;

    }

    /* FOOTER */

    footer {
        flex-direction: column;
        padding: 20px 10px 10px 10px;

    }

    .f-left {
        width: 100%;
        justify-content: space-between;
        flex: 1;
        align-items: center;
        text-align: center;

    }

    .f-left .f-1 {
        flex: 1;

    }

    .f-left .f-2 {
        flex: 1;

    }

    .f-left .f-3 {
        flex: 1;

    }

    .f-right {
        margin-top: 50px;

    }

    footer h3 {
        font-size: 16px;

    }

    footer p {
        cursor: pointer;
        font-size: 14px;
        opacity: 0.8;
        text-align: center;

    }
























    /* Check Out Page */

.checkout-page {
    /* height: 100vh; */
    /* width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
    z-index: 99; */
    /* display: none; */

}

.co-container{
    width: 100%;
    height: 100%;
    background-color: #1986a1c6;
    border-radius: 0px;
    display: block;
    
}

.co-container .co-left{
    border-right: none;
    padding: 5px 25px;
    
}

.co-container .co-left h2, .co-container .co-right h2{
    font-size: 20px;
    margin-bottom: 5px;
    
}

.co-container .co-left form input{
    margin-bottom: 10px;
    font-size: 13px;

}

.co-container .co-left form select{
    margin-bottom: 10px;

}

form label{
    font-size: 13px;

}

.co-container .co-right{
    padding: 10px 20px;

}

.co-container .co-right form{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.co-container .co-right form>div{
    display: flex;
    gap: 5px;

}
.co-right form input:nth-child(1){
background-color: aquamarine;   
width: max-content; 

}
.co-right form input:nth-child(2){
background-color: aquamarine;   
width:fit-content; 

}
.co-right form input:nth-child(3){
background-color: aquamarine;   
width:fit-content; 

}
.co-right form input:nth-child(4){
background-color: aquamarine;   
width:fit-content; 

}

.co-container .co-right form input{
    width: 100%;
    padding: 3px 8px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 12px;

}

.co-close i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #fff;

}

.checkout-page .co-btn{
    margin-top: 5px;
}










}



@media screen and (min-width:800px) and (max-width:1000px) {

    

    .main-container .home-info {
        display: flex;
        gap: 20px;
        margin: 70px;
    
    }

        






}


